PORT=8040
NODE_ENV=development

REDIS_URL=redis://localhost:6379

AT_API_KEY=
AT_USERNAME=sandbox
AT_SENDER_ID=TRYBE

DJANGO_API_URL=
DJANGO_API_SECRET=

SQUAD_SECRET_KEY=
SQUAD_PUBLIC_KEY=
SQUAD_WEBHOOK_SECRET=
SQUAD_BASE_URL=https://sandbox-api-d.squadco.com

OTP_TTL_SECONDS=300
OTP_LENGTH=6

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=

GROQ_API_KEY=

WEBHOOK_SECRET=

JWT_SECRET=
GMAIL_USER=
GMAIL_APP_PASSWORD=